body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.nav-btn {
    color: #fff;
    text-decoration: none;
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor a pointer al pasar el ratón sobre el botón */
}

.nav-btn:not(:last-child) {
    margin-right: 10px; /* Añade un margen a la derecha para separar los botones, ajusta según sea necesario */
}

.container {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
}

#rotating-image {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease;
}

#rotating-image:hover {
    transform: rotate(360deg);
}

.test-text {
    font-size: 16px;
    color: #666;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #555;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.footer-icon:hover {
    background-color: #777;
    transform: rotate(360deg);
}

#icon1,
#icon2 {
    background: url('instagram.png') center/contain no-repeat;
}

#icon2 {
    background: url('youtube.png') center/contain no-repeat;
}

.section {
    margin-bottom: 80px; /* Ajusta según sea necesario para dar espacio al footer */
}

/* Agregar reglas de estilo para hacer la página responsive */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-btn:not(:last-child) {
        margin-right: 0; /* Reinicia el margen para pantallas pequeñas */
        margin-bottom: 10px; /* Añade un margen inferior para separar los botones en pantallas pequeñas */
    }

    .container {
        margin-top: 130px;
    }

    #rotating-image {
        width: 100%;
    }

    .test-text {
        font-size: 14px;
    }

    .footer {
        flex-direction: row; /* Cambia la dirección a fila para que los iconos estén uno al lado del otro */
        justify-content: center;
    }

    .footer-icon {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }
}

